{% extends 'layout.html' %}

{% block content %}
<div class="container">
    {% include 'searchbar.html' with context %}
    <hr>

    <div class="categories-list">
        {% for category in categories %}
        <div class="category">
            <h2 class="category-title">{{ category.name }}</h2>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for product in category.products %}
                {% if pname == '' or pname.lower() in product.name.lower() %}
                {% if not price or product.price <= price %}
                <div class="col">
                    <div class="card">
                        <!-- <img src="https://picsum.photos/200/200" class="card-img-top" alt="{{product.name}}"> -->
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">
                                <div class="price">
                                    <strong>Price:</strong> &#8377; {{ product.price }}
                                </div>
                                <div class="quantity">
                                    <strong>Available:</strong> {{ product.quantity }}
                                </div>
                                <div class="man_date">
                                    <strong>Manufacture Date:</strong> {{ product.man_date }}
                                </div>
                            </p>
                            {% if product.quantity > 0 %}
                            <div class="quantity-input">
                                <form action="{{ url_for('add_to_cart', product_id=product.id) }}" method="POST"
                                    class="form">
                                    <label for="quantity">Quantity:</label>
                                    <input class="form-control" type="number" name="quantity" id="quantity" min="1"
                                        max="{{ product.quantity }}" value="1">
                                    <input type="submit" value="Add to Cart" class="btn btn-success mt-2">
                                </form>
                            </div>
                            {% else %}
                            <button disabled="disabled" class="btn btn-outline-danger mt-2">
                                <i class="fas fa-times"></i> Out of Stock
                            </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block style %}
<style>
    .categories-list {
        margin-top: 20px;
    }

    .category {
        margin-bottom: 40px;
    }

    .category-title {
        border-bottom: 2px solid #ccc;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    .card {
        margin-bottom: 20px;
    }
</style>
{% endblock %}
